# Database Connection Settings
DB_HOST=postman_amogus_db
DB_PORT=3306
DB_USER=postman
DB_PASSWORD=your_secure_password
DB_NAME=mail

# Docker Environment Settings
HOST_APP_PORT=8473
HOST_PMA_PORT=8474
DB_ROOT_PASSWORD=your_secure_root_password
