node_modules

# Output
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.dev.example
!.env.prod.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDEs
.idea/
.vscode/

# Docker / Database
mysql_data/

sus/
TODO.md
coverage/
