@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Huninn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/huninn.ttf') format('truetype');
}

@theme {
	--font-sans: var(--font-primary, 'Balsamiq Sans'), ui-sans-serif, system-ui, sans-serif;
	--font-mono: var(--font-primary, 'Balsamiq Sans'), ui-monospace, SFMono-Regular, monospace;
	
	--color-amogus-dark: #1E3A8A;
	--color-amogus-blue: #0284C7;
	--color-amogus-light: #E3F2FD;
	--color-amogus-bg: #F5F7FA;
	--color-amogus-brown: #8B4513;
}

body, input, textarea, select, button {
	font-family: var(--font-primary, 'Balsamiq Sans'), sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-primary, 'Balsamiq Sans'), sans-serif !important;
}

.toggle-amogus {
	background-color: transparent !important;
	border-color: #cbd5e1 !important; /* slate-300 */
	--tglbg: #94a3b8 !important; /* slate-400 */
	color: #94a3b8 !important;
}
.toggle-amogus:hover {
	background-color: #f8fafc !important; /* slate-50 */
}
.toggle-amogus:checked {
	background-color: transparent !important;
	border-color: #0284C7 !important; /* amogus-blue */
	--tglbg: #0284C7 !important; /* amogus-blue */
	color: #0284C7 !important;
}
